:root {
    --fuentePrincipal: "Montserrat", sans-serif;
    --fuenteTitulos: "Rubik", sans-serif;
    --principal: #db1d1d;
    --secundario: #000000;
    --gris: #8f7f7f;
    --blanco: #ffff;
    --opacidad: #ffff/70%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem =10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    line-height: 2;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteTitulos);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/*GLOBALES*/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}


/*UTILIDADES*/

.no-margin {
    margin: 0
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/*HEADER*/

.header {
    height: 60rem;
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contenedor {
    padding-top: 6rem;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
}

.logo__titulo,
.navegacion__enlace {
    color: var(--blanco);
    text-decoration: none;
    transition: top, opacity, size, 0.5s linear;
    top: 0;
    opacity: 1;
    position: relative;
}

.logo__titulo {
    margin-top: 2rem;
    margin-bottom: 6rem;
}


.navegacion {
    display: flex;
    justify-content: space-evenly;
}

/*HOVERS*/

.navegacion__enlace:hover {
    font-weight: bold;
    color: var(--gris);
}

.logo__titulo:hover {
    opacity: 0.7;
    top: 5px;
}

/*MEDIA QUERIES*/
@media(max-width:768px) {
    .navegacion {
        flex-direction: column;
        row-gap: 4rem;
    }
}