:root {
    --fuentePrincipal: "Montserrat", sans-serif;
    --fuenteTitulos: "Oxygen", sans-serif;
    --principal: #40c1a6;
    --secundario: #000000;
    --gris: #8f7f7f;
    --blanco: #ffff;
    --opacidad: #ffff/70%;
    --Negroclaro: #161111
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem =10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    line-height: 2;
    background-color: #161111
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteTitulos);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/*GLOBALES*/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}


/*UTILIDADES*/

.no-margin {
    margin: 0
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.centrar-elemento {
    margin: auto;
}

/*HEADER*/

.header {
    height: 30rem;
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contenedor {
    padding-top: 6rem;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
    border-bottom: solid 0.2rem var(--principal);
}

.logo__titulo,
.navegacion__enlace {
    color: var(--blanco);
    text-decoration: none;
    transition: top, opacity, size, 0.2s linear;
    top: 0;
    opacity: 1;
    position: relative;
}

.logo__titulo {
    margin-top: 2rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
}

.logo__titulo2 {
    color: var(--blanco);
    margin-top: 10rem;
}

.logo__descripcion {
    color: var(--principal);
    margin-top: 4rem;
}

.navegacion {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 0.2rem var(--principal);
    transition: top, opacity, size, linear;
}

.redes__titulos {
    color: var(--blanco);
    margin-top: 4rem;
}

.redes__icono {
    transition: top, opacity, 1s;
    position: relative;
}



/*HOVERS*/

.navegacion__enlace:hover {
    color: var(--principal);
    top: 5px;
}

.logo__titulo:hover {
    opacity: 0.7;
    top: 5px;
    color: var(--principal);
}

.redes {
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.redes__icono:hover {
    opacity: 0.6;
    top: 4px;
}

/*MEDIA QUERIES*/

@media(max-width:768px) {
    .navegacion {
        flex-direction: column;
        row-gap: 4rem;
    }
}

@media(max-width:768px) {
    .header {
        height: 110rem;
    }
}

@media(min-width:768px) {
    .header {
        height: 90rem;
    }
}

/*CONTENIDO MAIN*/

.sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    text-align: center;
    grid-auto-flow: dense;
}

.sobre-nosotros__titulo1 {
    color: var(--blanco);
}

.sobre-nosotros__texto {
    margin: 2rem;
    color: var(--blanco);
}

.sobre-nosotros__imagen {
    width: 100%;
    height: 100%;

}

.sobre-nosotros__logo {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border: solid 3px var(--principal);
    margin-top: 5rem;
    border-radius: 1rem;
}


@media(max-width:768px) {
    .sobre-nosotros {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    .sobre-nosotros__texto {
        margin: 5px;
    }
}

@media(max-width:800px) {
    .sobre-nosotros {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    .sobre-nosotros__texto {
        margin: 5px;
    }
}

.mostrar-formulario-boton:hover {
    background-color: var(--principal);
}

/*FOOTER*/
.footer {
    background-color: rgb(64, 193, 166);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-height: 15rem;
    max-height: 30rem;
}

.footer__legend {
    color: var(--blanco);
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin: 2rem;
    font-family: var(--fuenteTitulos);
}

.footer__legend:hover {
    color: var(--Negroclaro);
}

.navegacion2 {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

.navegacion2__enlace {
    color: var(--blanco);
    text-decoration: none;
}

.navegacion2__enlace:hover {
    color: var(--Negroclaro)
}


@media(max-width:800px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .navegacion2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:768px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .navegacion2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}